body {
      background-color: #FFF5E4;

 }
hr{
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: #0F3460;
  width: 3%;
  }

img:hover{
  background-color: #D61C4E;
}

h1{
  color: #D61C4E;
}
h3{
  color: #FC5185;
}
